
@font-face {
    font-family: Minimal;
    src: url(../fonts/minimal.otf);
}
@font-face {
    font-family: Quick;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

/* HOME */
#pagina-principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
   
}
#pagina-principal #caja_linea{
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 38px;
    right: 30px;
    display: none;
   

}
#pagina-principal #caja_linea .linea{
    width: 20px;
    height: 2px;
   
    background-color: black;
    
}


#pagina-principal .menu{
    width: 100%;
    height: 80px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pagina-principal .menu .logo{
   
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 150px;
    width: 100px;
    margin-top: 50px;
}
#pagina-principal .menu .logo h1{
   margin-left: 30px;
    color: rgb(0, 0, 0);
    font-family: Minimal;
}
#pagina-principal .menu .logo #linea{
    height: 30px;
    width: 2px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 22px;
    font-weight: lighter;
    font-size: 25px;
}
#pagina-principal .menu .logo span{
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 10px;
    font-family: Minimal;
    
}
#pagina-principal .menu .opciones{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-top: 50px;
}
#pagina-principal .menu .opciones a{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Quick;
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
}
#pagina-principal .menu .opciones a:hover{
    color: rgb(156, 156, 156);
}

#pagina-principal .foto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;

    
}
#pagina-principal .foto img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}


#portfolio{
    width: 100%;
    background-color: rgb(219, 219, 219);
    height: 1200px;
}
#portfolio #fila{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}
#portfolio #fila .box{
    width: 28px;
    height: 30px;
    border: 2.5px solid rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#portfolio #fila .box span{
    font-size: 20px;
    font-family: Quick;
}
#portfolio #fila h1{
    color: rgb(65, 65, 65);
    font-family: Roboto;
    font-size: 40px;
    margin-left: 20px;

    
}
#portfolio #fila_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
#portfolio #fila_1 a{
    display: inline-block;
}
#portfolio #fila_1 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#portfolio #fila_2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
#portfolio #fila_2 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#sobre-mi{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}
#sobre-mi .fila_3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#sobre-mi .fila_3 .box{
    width: 28px;
    height: 30px;
    border: 2.5px solid rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre-mi .fila_3 .box span{
    font-size: 20px;
    font-family: Quick;
}
#sobre-mi .fila_3 h1{
    font-size: 40px;
    font-family: Roboto;
    color: rgb(65, 65, 65);
    margin-left: 20px;
    
}
#sobre-mi .col{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#sobre-mi .col img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    
}
#sobre-mi .col p{
    text-align: left;
    font-size: 20px;
    font-family: Roboto;
    padding-left: 20px;
    
}
#contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color:rgb(224, 224, 224) ;
    height: 400px;
}
#contacto .fila_3{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
#contacto .fila_3 .box{
    width: 28px;
    height: 30px;
    border: 2.5px solid rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacto .fila_3 .box span{
    font-size: 20px;
    font-family: Quick;
}
#contacto .fila_3 h1{
    font-size: 40px;
    font-family: Roboto;
    color: rgb(65, 65, 65);
    margin-left: 20px;
}
#contacto form{
    display: flex;
    flex-direction: column;
}
#contacto form .fila_4{
    display: flex;
    flex-direction: row;
}

#contacto form .fila_4 .col-2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 10px;
}
#contacto form .fila_4 .col-2 input{
    width: 200px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color:rgb(224, 224, 224) ;
}

#contacto form .fila_4 .col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 40px;
    padding-top: 28px;
    

}

#contacto form .fila_4 .col-3 input{
    width: 200px;
    
    
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color:rgb(224, 224, 224) ;
    
}


#contacto form .fila_4 .submit{
    border: 1px solid black;
    width: 100px;
    height: 50px;
}
#contacto form .fila_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center; 
    padding-top: 40px;        
}
#contacto form .fila_5 input{
    width: 100px;
    height: 50px;
    font-family: Quick;
    
}
#contacto form .fila_5 input:hover{
    width: 150px;
    transition-duration: 0.5s;
}

#contenedor6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contenedor6 .box_1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
#contenedor6 .box_1 i{
    font-size: 25px;
}
#contenedor6 .box_2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#contenedor6 .box_2 span{
    font-size: 15px;
    margin-left: 4px;
    margin-right: 8px;
    color: rgb(65, 65, 65);
}
/* Maquetacion animacion */
#portfolio #fila_1 .img {
    width: auto;
    height: auto;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    
    
   
}
#portfolio #fila_1 .img img{
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: 2s;
}
#portfolio #fila_1 .img .texto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0;
    font-family: Roboto;


}
#portfolio #fila_1 .img:hover img{
    transform: scale(1.1);

}
#portfolio #fila_1 .img:hover .texto{
    opacity: 1;
}
#portfolio #fila_2 .img {
    width: auto;
    height: auto;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    
    
   
}
#portfolio #fila_2 .img img{
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: 2s;
}
#portfolio #fila_2 .img .texto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0;
    font-family: Roboto;


}
#portfolio #fila_2 .img:hover img{
    transform: scale(1.1);

}
#portfolio #fila_2 .img:hover .texto{
    opacity: 1;
}
@media (max-width:768px) {
    .opciones{
        display: flex;
        width: 30%;
        height: 20%;
        position: fixed;
        background-color: white;
        top: -50px;
        left: 0;
        flex-direction: column;
        transform: translateX(-80vw);
        transition-duration: 1.5s;
    }
    .opciones.open{
        transform: translateX( 0%);
    }
    #contenedor #caja_linea{
        width: 40px;
        height: 40px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 22px;
        right: 50px;   
    }
    #contenedor #caja_linea .linea{
        width: 20px;
        height: 2px;
        background-color: black;

        
    }
    #po{
        height: 965px;
    }
    #contenedor3 #fila_1{
        padding-left: 25px;
        padding-right: 25px;
    }
    #contenedor3 #fila_1 img{
        width: 200px;
        height: 280px;
        object-fit: cover;
       
    }
    #contenedor3 #fila_1 .img{
        position: relative;
    }
    #contenedor3 #fila_1 .img .texto{
       position: absolute;
       top: 0;
       left: 0;
       opacity: 1;
       text-align: center;
    }
    #contenedor3 #fila_1 .img img{
        display: flex;
    }
    #contenedor3 #fila_2{
        padding-left: 25px;
        padding-right: 25px;
    }
    #contenedor3 #fila_2 img{
        width: 200px;
        height: 280px;
        object-fit: cover;
       
    }
    #contenedor3 #fila_2 .img{
        position: relative;
    }
    #contenedor3 #fila_2 .img .texto{
       position: absolute;
       top: 0;
       left: 0;
       opacity: 1;
       text-align: center;
    }
    #contenedor3 #fila_2 .img img{
        display: flex;
    }
    
   
}


 /* RETRATO */
 #fotos-retrato{
    width: 100%;
}
#fotos-retrato #fila_6{
    width: 100%;
    
    
    
}
#fotos-retrato #fila_6 .img{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
#fotos-retrato #fila_6 .img #cajita{
    padding-top: 50px;
    position: relative;
    z-index: 5;
}
#fotos-retrato #fila_6 .img #cajita3{
    padding-top: 100px;
}
#fotos-retrato #fila_6 .img #cajita img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    
    
}

#fotos-retrato #fila_6 .img #cajita2 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    
}
#fotos-retrato #fila_6 .img #cajita3 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
    
}
#fotos-retrato #fila_7{
    width: 100%;

}
#fotos-retrato #fila_7 .img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#fotos-retrato #fila_7 .img #cajita4 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
    
}#fotos-retrato #fila_7 .img #cajita5 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    
}
#fotos-retrato #fila_7 .img #cajita4{
    padding-top: 100px;
    position: relative;
    z-index: 3;
}
#fotos-retrato #fila_8{
    width: 100%;
}
#fotos-retrato #fila_8 .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fotos-retrato #fila_8 .img #cajita6 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_8 .img #cajita7 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_8 .img #cajita6{
    padding-right: 200px;
    padding-top: 100px;
    z-index: 5;
}
#fotos-retrato #fila_9{
    width: 100%;
}
#fotos-retrato #fila_9 .img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fotos-retrato #fila_9 .img #cajita8 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_9 .img #cajita9 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_10{
    width: 100%;

}
#fotos-retrato #fila_10 .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fotos-retrato #fila_10 .img #cajita10 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_10 .img #cajita11 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_10 .img #cajita10{
    padding-top: 80px;
    padding-right: 300px;
}
#fotos-retrato #fila_11{
    width: 100%;
}
#fotos-retrato #fila_11 .img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fotos-retrato #fila_11 .img #cajita12 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_11 .img #cajita13 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_11 .img #cajita14 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_11 .img #cajita13{
    margin-top: 50px;
}
#fotos-retrato #fila_12{
    width: 100%;
}
#fotos-retrato #fila_12 .img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#fotos-retrato #fila_12 .img #cajita15 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_12 .img #cajita16 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_13{
    width: 100%;
}
#fotos-retrato #fila_13 .img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
#fotos-retrato #fila_13 .img #cajita17 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#fotos-retrato #fila_13 .img #cajita18 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transform: scale(0.7);
}
#fotos-retrato #fila_14{
    width: 100%;
}
#fotos-retrato #fila_14 .img{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#fotos-retrato #fila_14 .img #cajita19 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    margin-right: 150px;
    transform: scale(0.7);
}
#fotos-retrato #fila_14 .img #cajita20 img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}